/* Wrapper */
.gd-wrapper {
  max-width: 900px;
  margin: 30px auto;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

/* Title */
.gd-title {
  text-align: center;
  margin-bottom: 15px;
  color: #2c3e50;
}

/* Chat box */
.gd-chat-box {
  flex: 1;
  overflow-y: auto;
  padding: 15px;
  border-radius: 10px;
  background: #f4f6f8;
  margin-bottom: 15px;
}
/* Message */
.gd-message {
  display: flex;
}
.gd-message-box {
  max-width: 70%;
  display: inline-block;
  background: #ffffff;
  padding: 10px 14px;
  margin-bottom: 12px;
  border-radius: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

/* Own message */
.gd-own-message {
  margin-left: auto;
  background: #dff6ff;
  /* border-left: 4px solid #2196f3; */
}

/* Username */
.gd-message-user {
  font-weight: 100;
  font-size: 12px;
  color: #aaacae;
  margin-bottom: 4px;
}

/* Message text */
.gd-message-text {
  color: #2c3e50;
  margin-bottom: 10px;
}

/* Time */
.gd-message-time {
  text-align: right;
}
.gd-message-time span{
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  background: linear-gradient(45deg, #ff00ffaa, #aa00ffaa);
  padding: 4px 7px;
  border-radius: 50px;
}
/* Input area */
.gd-input-area {
  display: flex;
  gap: 10px;
}

/* Input */
.gd-input {
  flex: 1;
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 14px;
}

.gd-input:focus {
  border-color: #2196f3;
}

/* Button */
.gd-send-btn {
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  background: #2196f3;
  color: #ffffff;
  cursor: pointer;
  font-weight: 600;
}

.gd-send-btn:hover {
  background: #1976d2;
}
