.api-popup-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.api-popup {
  background: black;
  border: solid 1px #ffffff50;
  width: 480px;
  max-height: 80vh;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}

.api-popup-title {
    color: #fff;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
}

.api-popup-body {
  flex: 1;
  background: #334;
  padding: 12px;
  font-size: 13px;
  overflow-y: auto;
  border-radius: 4px;
}

.api-popup-close-btn {
  margin-top: 15px;
  align-self: flex-end;
  padding: 6px 14px;
  cursor: pointer;
}
